<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h4>Book Name</h4>
            </div>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptatem numquam labore voluptatibus odio magnam perspiciatis iusto excepturi, quasi reprehenderit debitis obcaecati culpa rerum! Ratione eius quasi repellendus nam mollitia?
        </div>
    </div>
    <button class="btn btn-danger" (click)="onBack()">Back</button>
</div>